.contact-col a img{
    max-width: 12px;
}
.mt-40 {
    margin-top: 40px;
}

.zoomable {
    position: relative;
    overflow: hidden;
  }
  .zoomable__img {
    transform-origin: var(--zoom-pos-x, 0%) var(--zoom-pos-y, 0%);
    transition: transform 0.15s linear;
  }
  .zoomable--zoomed .zoomable__img {
    cursor: zoom-in;
    transform: scale(var(--zoom, 2));
  }

 .footer-content-inner.mobile{
    display: none;
}
@media only screen and (max-width: 991px) {
    .footer-content-inner.mobile{
        display: flex;
    }
    .footer-content-inner.desktop{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .content-banner-section.der{
        padding-top: 60px;
    }
    .content-banner-section.handwerkzeuge{
        padding-top: 0px;
    }
    .content-banner-section .tools-img{
        max-width: 400px !important;
        margin: auto;
    }
    .mt-sm-24{
        margin-top: 24px;
    }
}

@media only screen and (max-width: 575px) {
    .content-banner-section.handwerkzeuge .tools-img{
        max-width: 300px !important;
    }
}